.pointer:hover {
  cursor: pointer;
}

.mobile { 
  display: flex;
  justify-content: space-between;
  
}

.mainLayout{
  padding: 160px 30px 0 30px;
  width: 100%;
}

@media screen and (max-width: 763px) {
  .mobile {
    display: block;
  }
  
  .mainLayout{
    padding: 200px 16px 0 16px;
  }
}