.pointer:hover {
  cursor: pointer;
}

.mobile { 
  display: flex;
  justify-content: space-between
}

.mainLayout{
  padding-top: 80px;
  width: 100%;
}

@media screen and (max-width: 763px) {
  .mobile {
    display: block;
  }
  
  .mainLayout{
    padding: 80px 16px 0 16px;
  }
}