.pointer:hover {
  cursor: pointer;
}

.pointer:hover img {
  transform: scale(1.1);
  transition: all 0.2s;
}

.pointer img {
  transition: all 0.2s linear;
}

.mobile { 
  display: flex;
  justify-content: space-between
}

.mainLayout{
  padding: 160px 30px 0 30px;
  width: 100%;
}

.bold:hover {
  font-weight: 700;
}
.kakaoAdFitContainer {
  max-width: 728px;
  margin: 0 auto;
  overflow-x: hidden;
}
.myMap{
  height: 500px;  
}
.search{
margin-left: 10px;
}


@media screen and (max-width: 763px) {
  .mobile { 
    flex-direction: column;
  } 
  
  .mainLayout{
    padding: 200px 16px 0 16px;
  }

  .header{
    padding: 0 16px;
  }

  .kakaoAdFitContainer {
    max-width: 300px;
  }

  .myMap{
    height: 300px;  
  }

  .search{
    margin-left: 0;
  }
  .searchContainer{
    justify-content: space-between;
  }
}