.bold:hover {
  font-weight: 700;
}

.rea{
  max-width: 1280px;
  padding: 0 30px;
}

.dsa::-webkit-scrollbar{
  display:none;
}

.headerMain {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 30px;
  justify-content: space-between;
  line-height: 64px;
}
.mobile{
  display: flex;
}
@media screen and (max-width: 763px) {
  .bold{
    line-height: 16px;
  }
  .headerMain{
    padding: 0 16px;
  }
  .rea{
    max-width: none;
    width:733px;
    padding: 0 16px;
  } 
  
  .mobile{
    display: block
  }
}