.ant-carousel{
  margin: 0px -30px;
}

.ant-carousel .slick-dots li{
  background-color: #0096FF; 
}
.slick-slide{
  text-align: center;
}
#reactions__container {
  display: none !important;
}
.ant-col-6 {
  max-width: none;
}

@media screen and (max-width: 763px) {
  .ant-carousel{
    margin: 0px;
  }
}
